<!--views/site/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Daily Planet</h1>
<h2>User stuff:</h2>
<ul>
		<li><a href="/signup">Create a new user</a></li>
		<li><a href="/login" title="Login">Login as an existing user</a></li>
</ul>


<h2>Site Stuff:</h2>
<ul>
	<li><a href="/articles" title="All articles">View all articles</a></li>
	<li><a href="/authors" title="All authors">View all authors</a></li>	
</ul>
</body>
</html>

